
#containerInicio{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#Body{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #2c3e50, #3498db);
}
#container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
h2{
    color: #fff;
    text-align: center;
    font-size: 4rem;
    line-height: 0.6em;
    z-index: 1000;
    font-weight: 900;
}
h2 span{
    font-size: 0.2em;
    letter-spacing: 0.4em;
    font-weight: 400;
    text-transform: uppercase;
}
.block{
    position: absolute;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(3px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 95px;
    z-index: 0;
    /*box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);*/
}
div{
    display: block;
}
p{
    font-size: 18px;
    text-align: justify;
}
#autor{
    cursor: pointer;
    color: black;
    opacity: 0.6;
}
#autor:hover{
    opacity: 1;
}
#info #parrafo{
    font-size: 20px;
}
.card{
    margin-left: 22%;
}